*{
	margin:0px;
	padding:0px;
}
#wrap{
 background-image: url("/home/lsansalonic/public_html/intro/img");
 }

#header{
	width: 20px;
	height:60px;
}
#img{
	width: 50px;
	height:50px;
}
	

#nav{
	background: black;
	color: white;
	width:50px;
	float:left;
}

#main{
	
