h1 { color: #008484; }
h2 { color: #0000FF; font-family: Arial; }
strong { color: red; }
span.destacado { color: orange; }
a { color: red }
	em { color: blue; }
caption { color: blue; }
table { border:
