* {
	margin:0;
	padding:0;
}

#tot {
	width:90%;
	height:400px;
	margin-left:5%;
	margin-right:5%;
	border: 1px solid black;
}

#cap {
	width:90%;
	height:5%;
	text-align:center;
	background:red;
	border: 1px solid black;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:10px;
}

#cont1 {
	width:56%;
	height:200px;
	background:red;
	border: 1px solid black;
	float:left;
	margin-bottom:10px;
	margin-left:10px;
}

#cont2 {
	width:15%;
	float:left;
	height:200px;
	background:red;
	border: 1px solid black;
	margin-left:10px;
}

#menu {
	width:15%;
	float:left;
	height:200px;
	background:red;
	border: 1px solid black;
	margin-left:10px;
}

#sep {
	width:90%;
	float:left;
	height:40px;
	background:red;
	border: 1px solid black;
	margin-bottom:10px;
	margin-left:10px;
}

#peu1 {
	width:55%;
	float:left;
	height:40px;
	background:red;
	border: 1px solid black;
	margin-left:10px;
}

#peu2 {
	width:33%;
	float:left;
	height:40px;
	background:red;
	border: 1px solid black;
	margin-left:10px;
}
