*{
	margin:0px;
	padding:0px;
}



#{}


#titol{
	width:500px;
	
}

#titol2{
 border:solid 3px #DBC9A6;
 width:150px;
 height:150px;
}
#groc{
 border:solid 3px #EBEBA5;
 width:365px;
 height:207px;
}
	
#verd{
 border:solid 3px #64B064;
 width:365px;
 height:207px;
}

#blau{
 border:solid 3px #98CACA;
 width:365px;
 height:207px;
}

#vermell{
 border:solid 3px #865F5F;
 width:365px;
 height:207px;
}

#rosa{
 border:solid 3px #BAA7BA;
 width:365px;
 height:207px;
}
 

